apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: peppermint
  namespace: utilities
spec:
  interval: 5m
  chart:
    spec:
      chart: peppermint
      version: 4.13.15
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    portal:
      open:
        enabled: false
    global:
      stopAll: false
    credentials:
      s3v3:
        type: s3
        url: "${S3_MINIO_URL_V2}"
        bucket: "${S3_MINIO_BUCKET_PREFIX}-v2-{{ .Chart.Name }}"
        accessKey: "${S3_MINIO_KEY_ID_V2}"
        secretKey: "${S3_MINIO_SECRET_KEY_V2}"
        encrKey: "${S3_MINIO_SECRET_KEY_V2}"
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: tickets.${DOMAIN_1}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - tickets.${DOMAIN_1}
            clusterIssuer: domain-1-le-prod
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-1-le-prod
    metrics:
      main:
        enabled: false