---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: litellm
  namespace: utilities
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.24.40
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    credentials:
      s3v3:
        type: s3
        url: "${S3_MINIO_URL_V2}"
        bucket: "${S3_MINIO_BUCKET_PREFIX}-{{ .Chart.Name }}"
        accessKey: "${S3_MINIO_KEY_ID_V2}"
        secretKey: "${S3_MINIO_SECRET_KEY_V2}"
        encrKey: "${S3_MINIO_SECRET_KEY_V2}"
    image:
      repository: ghcr.io/berriai/litellm
      pullPolicy: Always
      tag: main-latest
    securityContext:
      container:
        readOnlyRootFilesystem: false
        runAsNonRoot: false
        allowPrivilegeEscalation: true
        privileged: true
        UMASK: "002"
        runAsUser: 0
        runAsGroup: 0
        PUID: 0
    service:
      main:
        ports:
          main:
            port: 4000
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                LITELLM_MASTER_KEY: "${LITELLM_MASTER_KEY}"
                DATABASE_URL: ${LITELLM_POSTGRES_DB_URL}
                STORE_MODEL_IN_DB: true
                UI_USERNAME: "${LITELLM_UI_USERNAME}"
                UI_PASSWORD: "${LITELLM_UI_PASSWORD}"
                # LITELLM_MIGRATION_DIR: /config
                # LITELLM_CONFIG_PATH: "/app/litellm_config.yaml"
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: litellm.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - litellm.${DOMAIN_0}
            clusterIssuer: domain-0-le-prod
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
    persistence:
      config:
        enabled: true
        type: pvc
        mountPath: /config
        targetSelectAll: true
        volsync:
          - name: config
            type: restic
            credentials: s3v3
            dest:
              enabled: true
            src:
              enabled: true
      # litellm-config:
      #   enabled: true
      #   type: configMap
      #   name: litellm-config
      #   subPath: litellm_config.yaml
      #   mountPath: /app/litellm_config.yaml
      #   readOnly: true
